

{% for block in section.blocks %}
	<img src="{{ block.settings.card_image | image_url: width: 320 }}" />
{% endfor %}

{% assign fixd_day = section.settings.day %}
{% assign fixd_month = section.settings.month %}
{% assign fixd_year = section.settings.year %}

{% capture fxd_date %}{{ fixd_year }}-{{ fixd_month }}-{{ fixd_day }}{% endcapture %}

<h1>{{ fxd_date }} into seconds : {{ fxd_date | date: '%s' }}</h1>

{% assign fxd_sec = fxd_date |date: '%s' %}
{{ fxd_sec | divided_by: 86400 }}
{{ "now" | date}}



{% assign current_time = 'now' | date: '%s' %}
{% assign current_days = current_time | divided_by: 86400 %}

<h5>Current Days : {{ current_days }}</h5>

{% assign fixd_seconds = fixd_day | times: 86400 | times: fixd_month | times: fixed_year %}

<h5>Fixed days : {{ fixd_day | times: section.settings.month }}</h5>


{% comment %} convert our dates to Number of seconds 
              since 1970-01-01 00:00:00 UTC {% endcomment %}
{% assign dateStart = product.created_at | date: '%s' %}
{% assign nowTimestamp = 'now' | date: '%s' %}

{% comment %} difference in seconds {% endcomment %}
{% assign diffSeconds = nowTimestamp | minus: dateStart %}

{% comment %} difference in days {% endcomment %}
{% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}

<p>difference in days = {{ diffDays }}</p>

{% schema %}
  {
    "name": "Home",
	"max_blocks": 4,
    "settings": [
		{
			"type":"header",
			"content": "Fixed Date"
		},
		{
			"type": "range",
			"label": "Day",
			"max": 31,
			"min": 1,
			"id" : "day",
			"step" : 1,
			
			"default": 1
		},
		{
			"type": "range",
			"label": "Month",
			"max": 12,
			"min": 1,
			"id" : "month",
			"step" : 1,
			
			"default": 1
		},
		{
			"type": "range",
			"label": "Year",
			"max": 2022,
			"min": 2000,
			"step" : 1,
			"id" : "year",
			
			"default": 2000
		}
	],
	"blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings" : [
          {
            "id": "card_image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
